footer{
  margin: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1C1C12;
  padding: 1rem;
  vertical-align: middle;
}
footer a{
  font-family: 'Lato', sans-serif;
  display: inherit;
  text-decoration: none;
  color: #B2B24D;
  justify-content: flex-start;
  align-items: center;
}
