body{
  background-color: #D9ECFA;
}

.logout{
  display: block;
  position: absolute;
  top:1rem;
  right: 1rem;
  width: 7rem;
  border-radius: 1rem;
  background-color: #1C1C12;
  padding: 1rem;
  text-align: center;
}
.logout a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #B2B24D;
  font-size: 13pt;
}
.logout a:hover{
  color: #D9ECFA;
}
#fb-login{
  width: 280px;
}
h1{
  font-family: 'Lato', sans-serif;
  /*font-size: 18pt;*/
  /*text-transform: uppercase;*/
  /*color: #797979;*/
  /*color: #525265;
  text-shadow: 0.05em 0.05em #fff;*/
}
footer{
  margin: 0;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1C1C12;
  padding: 1rem;
  vertical-align: middle;
}
footer a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #B2B24D;
}
footer li{
  font-family: 'Lato', sans-serif;
  color: #B2B24D;
}
footer a:hover{
  color: #D9ECFA;
}
#pie{
  list-style:none;
  display: flex;
}
#pie li{
  padding-right: 2rem;
}

.datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  }
.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #006699;
  border-radius: 3px;
  }
.datagrid table td, .datagrid table th {
  padding: 3px 10px;
  }
.datagrid table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color:#006699;
  color:#FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-left: 1px solid #0070A8;
  }
.datagrid table thead th:first-child {
  border: none;
  }
.datagrid table tbody td {
  color: #00496B;
  border-left: 1px solid #E1EEF4;
  font-size: 12px;font-weight: normal;
  }
.datagrid table tbody .alt td {
  background: #E1EEF4;
  color: #00496B; }
.datagrid table tbody td:first-child {
  border-left: none;
  }
.datagrid table tbody tr:last-child td {
  border-bottom: none;
  }
div.dhtmlx_window_active, div.dhx_modal_cover_dv {
  position: fixed !important;
}
#formH input[type="submit"]{
  margin-bottom: 1em;
}
.busqueda{
  margin-top: 1em;
}
.fin{
  padding-bottom: 15vh;
}
#url_fp{
  width: 20rem;
}
.formulario span{
  width: 7rem;
}
