footer{
  margin: 0;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1C1C12;
  padding: 1rem;
  vertical-align: middle;
}
footer a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #B2B24D;
}
footer a:hover{
  color: #D9ECFA;
}
#pie{
  list-style:none;
  display: flex;
}
#pie li{
  padding-right: 2rem;
}
.logout{
  display: block;
  border-radius: 1rem;
  background-color: #1C1C12;
  padding: 1rem;
}
.logout a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #B2B24D;
}
