body{
  background-color: #D9ECFA;
}

.logout{
  display: block;
  position: absolute;
  top:1rem;
  right: 1rem;
  width: 7rem;
  border-radius: 1rem;
  background-color: #1C1C12;
  padding: 1rem;
  text-align: center;
}
.logout a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #B2B24D;
  font-size: 13pt;
}
.logout a:hover{
  color: #D9ECFA;
}
#fb-login{
  width: 280px;
}
h1{
  font-family: 'Lato', sans-serif;
  font-size: 18pt;
  text-transform: uppercase;
  /*color: #797979;*/
  color: #525265;
  text-shadow: 0.05em 0.05em #fff;
}
footer{
  margin: 0;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1C1C12;
  padding: 1rem;
  vertical-align: middle;
}
footer a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #B2B24D;
}
footer a:hover{
  color: #D9ECFA;
}
#pie{
  list-style:none;
  display: flex;
}
#pie li{
  padding-right: 2rem;
}
