body{
  background-color: #D9ECFA;
}
.contenedor{
  display: block;
  width: 90vw;
  margin: 0 auto;
  margin-top: 5vh;
  background-color: #fff;
  padding: 1rem;
  color: #18242D;
  border-radius: 1em;
  position: relative;
}
.volver{
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  background-color: #1C1C12;
}
.volver a{
  display: inherit;
  color: #B2B24D;
  justify-content: flex-start;
  align-items: center;
}
.titulo{
  margin: 0 auto;
  text-align: center;
  font-size: 14pt;
}
.contenido{
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
}
.titulo, .subtitulo-1, .subtitulo-2, .item, .volver{
  font-family: 'Lato', sans-serif;
  color: #18242D;
}
.subtitulo-1{
  font-size: 14pt;
}
.subtitulo-2{
  padding-left: 2rem;
  font-size: 12pt;
}
.pad2{
  padding-left: 2rem;
}
.item{
  padding-left: 4rem;
  font-size: 12pt;
}
.pad3{
  padding-left: 4rem;
}
.ident{
  text-indent: 2rem;
}
